# Dependencias de Node
node_modules

# Archivos de compilación (build)

.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno (¡Contienen secretos!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de Clasp que pueden contener tokens de autenticación
.clasprc.json